$break-small: 768px;

body {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
}

textarea {
  background: none;
  border: none;
  color: rgb(100, 100, 100);
  display: block;
  font-family: 'Source Serif Pro', serif;
  height: calc(100% - 42px);
  resize: none;
  outline: none;
}

input {
  font-family: 'Source Serif Pro', serif;
  border: none;
}

.header {
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  font-family: 'Hi Melody', cursive;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
}

.footer {
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main-container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
              url("./img/main_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.pseudo-body {
  margin: auto;
  margin-top: 80px;
  max-width: 992px;
  min-height: calc(100vh - 120px);
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  margin: 0 10%;

  @media screen and (min-width: $break-small) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin: 0 10px;
  }
}

.grid-item {
  align-self: start;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  margin-bottom: 60px;
}

.form-field {
  padding-bottom: 20px;
  padding-top: 20px;
}

.column-title {
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 3px 3px 0 0;
  font-family: 'Hi Melody', cursive;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 20px;
}

.card {
  // background: url("./img/card_background.png");
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
              url("./img/card_background.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.30), 0 3px 7px rgba(0,0,0,0.33), inset 0 0 10px rgb(0, 0, 0);
  min-height: 80px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0;
  position: relative;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 5px;
  padding-right: 23px;
  padding-top: 3px;
  padding-bottom: 8px;
  position: relative;
  text-align: right;
}

.card-text {
  border-radius: 0 0 10px 10px;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 10px;
  text-align: left;
}

.card-textarea {
  width: calc(100% - 20px);
}

.card-button {
  background: linear-gradient(to top, rgb(246, 245, 240), rgb(225, 224, 220));
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .30), 0 1px 2px rgba(0, 0, 0, .33), inset 0 0 3px #000000;;
  color: rgb(107, 99, 91);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  padding: 2px 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .439);
}

.card-button-delete {
  background: url("./img/card_close_icon2.png");
  background-position: center;
  background-size: 100%;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.30), 0 1px 2px rgba(0,0,0,0.33);
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
}

.column-add-card {
  border-radius: 0 0 3px 3px;
  font-family: 'Hi Melody', cursive;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  padding-left: 10px;
  text-align: left;
}

.card-invisible {
  visibility: hidden;
  pointer-events: none;
}

.card-textarea {
  position: absolute;
  top: 32px;
}

form .card-header {
  padding-right: 0;
}
