// Variables

$break-small: 768px;
$break-normal: 992px;

$bg-color: rgb(30, 30, 30);
$bg-color-shade: rgba(0, 0, 0, 0.2);
$txtarea-color: rgb(100, 100, 100);
$bg-card-color-todo: rgba(255, 220, 220, 0.5);
$bg-card-color-doing: rgba(255, 255, 220, 0.5);
$bg-card-color-done: rgba(220, 255, 220, 0.5);
$btn-text-color: rgb(225, 224, 220);
$header-footer-color: rgb(10, 10, 10);
$todo-white: rgb(255, 255, 255);
$button-shadow: rgba(0, 0, 0, 0.33);

// Tag rules

body {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
}

textarea {
  background: none;
  border: none;
  color: $txtarea-color;
  display: block;
  font-family: 'Source Serif Pro', serif;
  resize: none;
  outline: none;
}

input {
  border: none;
}

// Main section elements (header, footer, main-container)

.header {
  background-color: $header-footer-color;
  color: $todo-white;
  font-family: 'Hi Melody', cursive;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.footer {
  background-color: $header-footer-color;
  color: $todo-white;
  font-size: 12px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

.main-container {
  background: linear-gradient(to bottom, $bg-color-shade 300px, transparent 450px), linear-gradient(to bottom, transparent 300px, $bg-color 450px), url("./img/main_background_mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;

  @media screen and (min-width: $break-small) {
    background: linear-gradient(to bottom, $bg-color-shade 400px, transparent 600px), linear-gradient(to bottom, transparent 400px, $bg-color 600px), url("./img/main_background_mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media screen and (min-width: $break-normal) {
    background: linear-gradient(to bottom, $bg-color-shade 400px, transparent 600px), linear-gradient(to bottom, transparent 400px, $bg-color 600px), url("./img/main_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

// Grid system

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  margin: auto;
  margin-top: 80px;
  max-width: $break-normal;
  min-height: calc(100vh - 120px);
  padding: 20px 10% 40px 10%;


  @media screen and (min-width: $break-small) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 20px 10px 0 10px;
  }
}

.grid-item {
  align-self: start;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  margin-bottom: 20px;

  @media screen and (min-width: $break-small) {
    margin-bottom: 60px;
  }
}

.column-title {
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 3px 3px 0 0;
  font-family: 'Hi Melody', cursive;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 20px;
}

// Card rules stats here. Only cards display rules coming below in this file

.card {
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 8px 16px $button-shadow, 0 3px 7px $button-shadow, inset 0 0 10px rgb(0, 0, 0);
  min-height: 80px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0;
  position: relative;
}

// Different card background colors in differenc coulmns

.todo .card-background {
  background: linear-gradient($bg-card-color-todo, $bg-card-color-todo), url("./img/card_background.png");
}

.doing .card-background {
  background: linear-gradient($bg-card-color-doing, $bg-card-color-doing), url("./img/card_background.png");
}

.done .card-background {
  background: linear-gradient($bg-card-color-done, $bg-card-color-done), url("./img/card_background.png");
}

.card-header {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  height: 25px;
  overflow: hidden;
  padding-top: 3px;
  position: absolute;
  text-align: right;
  transition: all 0.2s ease-in;
  width: 100%;
  z-index: 2;
}

.card-header-menu {
  margin-right: 25px;
}

.card-text {
  border-radius: 0 0 10px 10px;
  font-size: 16px;
  line-height: 20px;
  padding: 35px 10px 10px 10px ;
  text-align: justify;
}

.card-textarea {
  position: absolute;
  top: 0;
  width: calc(100% - 20px);
}

.card-button {
  background: linear-gradient(to top, rgb(246, 245, 240), $btn-text-color);
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .30), 0 1px 2px rgba(0, 0, 0, .33), inset 0 0 3px #000000;;
  color: rgb(107, 99, 91);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-right: 20px;
  padding: 2px 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .44);
}

.card-button-delete {
  background: url("./img/card_close_icon2.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 2px 4px $button-shadow, 0 1px 2px $button-shadow;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
}

// Card invisible during editing. It needs to set the cards height. (.card-textarea position is absolute)
.card-invisible {
  visibility: hidden;
  pointer-events: none;
}

form .card-header {
  padding-right: 0;
}

.card-header-text {
  color: $btn-text-color;
  cursor: auto;
  display: inline-block;
  font-size: 14px;
  left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 6px;
}

.column-add-card {
  border-radius: 0 0 3px 3px;
  cursor: pointer;
  font-family: 'Hi Melody', cursive;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  padding-left: 10px;
  text-align: left;
}

// Checkbox not displayed, label displayed instead if it
.card-checkbox {
  display: none;
}

.card-status-submenu {
  color: $btn-text-color;
  cursor: auto;
  font-size: 14px;
  margin-top: 10px;
  position: absolute;
  right: 45px;
  display: flex;
  justify-content: space-between;
  width: 136px;
}

// CSS only dropdown menu: header height increase makes the menu visible
input:checked ~ div.card-header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 60px;
  transition: all 0.2s ease-in;
}

.card-status-submenu-element {
  margin-bottom: 5px;
  margin-right: 0;
}

// The same as coulmn card status button must be hide
.todo #todo-button, .doing #doing-button, .done #done-button {
  display: none;
}
